openapi: 3.2.0
info:
  title: iTwin Synchronization Connectors API
  description: Synchronize native design files (DGN, DWG, IFC, RVT) from Azure Blob, iTwin Storage, or ProjectWise into iModels.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/synchronization/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/synchronization
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Connectors
  description: Connectors resources for the iTwin Synchronization API.
paths:
  /connectors:
    get:
      tags:
      - Connectors
      summary: Get Connectors
      operationId: GetConnectors
      responses:
        '200':
          description: List of Connectors
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Connectors
      summary: Create Connector
      operationId: CreateConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Connector created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Synchronization API Documentation
  url: https://developer.bentley.com/apis/synchronization/
