openapi: 3.1.0
info:
  title: iTwin Control Access Briefcases API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Briefcases
  description: Acquire and release briefcases for iModel authoring sessions.
paths:
  /{iModelId}/briefcases:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Briefcases
      summary: Get Briefcases
      operationId: GetBriefcases
      responses:
        '200':
          description: List of briefcases
    post:
      tags:
      - Briefcases
      summary: Acquire Briefcase
      operationId: AcquireBriefcase
      responses:
        '201':
          description: Briefcase acquired
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
