openapi: 3.2.0
info:
  title: iTwin Storage Content API
  description: Store and retrieve files inside iTwin containers — folders, files, file versions, and trashed items.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/storage/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/storage
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Content
  description: Content resources for the iTwin Storage API.
paths:
  /files/{fileId}/content:
    parameters:
    - name: fileId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Content
      summary: Get Content
      operationId: GetContent
      responses:
        '200':
          description: List of Content
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Content
      summary: Create Content
      operationId: CreateContent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Content created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Storage API Documentation
  url: https://developer.bentley.com/apis/storage/
