openapi: 3.2.0
info:
  title: iTwin Clash Detection Suppression Rules API
  description: Detect geometry clashes between 3D elements. Define tests, suppression rules, and retrieve clash run results.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/clash-detection/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/clashdetection
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Suppression Rules
  description: Suppression Rules resources for the iTwin Clash Detection API.
paths:
  /suppression-rules:
    get:
      tags:
      - Suppression Rules
      summary: Get Suppression Rules
      operationId: GetSuppressionRules
      responses:
        '200':
          description: List of Suppression Rules
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Suppression Rules
      summary: Create Suppression Rule
      operationId: CreateSuppressionRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Suppression Rule created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Clash Detection API Documentation
  url: https://developer.bentley.com/apis/clash-detection/
