openapi: 3.2.0
info:
  title: iTwin Synchronization Connections API
  description: Synchronize native design files (DGN, DWG, IFC, RVT) from Azure Blob, iTwin Storage, or ProjectWise into iModels.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/synchronization/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/synchronization
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Connections
  description: Connections resources for the iTwin Synchronization API.
paths:
  /imodels/{iModelId}/storageConnections:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Connections
      summary: Get Connections
      operationId: GetConnections
      responses:
        '200':
          description: List of Connections
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Connections
      summary: Create Connection
      operationId: CreateConnection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Connection created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Synchronization API Documentation
  url: https://developer.bentley.com/apis/synchronization/
