openapi: 3.1.0
info:
  title: iTwin Control Access Runs API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Runs
  description: Runs resources for the iTwin Clash Detection API.
paths:
  /runs:
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Runs
      summary: Create Run
      operationId: CreateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
  /runs/{runId}:
    parameters:
    - name: runId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Runs
      summary: Update Run
      operationId: UpdateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Run updated
    delete:
      tags:
      - Runs
      summary: Delete Run
      operationId: DeleteRun
      responses:
        '204':
          description: Run deleted
  /imodels/{iModelId}/storageConnections/{connectionId}/run:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
    - name: connectionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Runs
      summary: Create Run
      operationId: CreateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
  /{transformationId}/run:
    parameters:
    - name: transformationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Runs
      summary: Create Run
      operationId: CreateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
