openapi: 3.2.0
info:
  title: iTwin Users Me API
  description: Read user account profile information for users authorized to the iTwin Platform.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/users/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/users
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Me
  description: Me resources for the iTwin Users API.
paths:
  /users/me:
    get:
      tags:
      - Me
      summary: Get Me
      operationId: GetMe
      responses:
        '200':
          description: List of Me
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Me
      summary: Create Me
      operationId: CreateMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Me created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Users API Documentation
  url: https://developer.bentley.com/apis/users/
