openapi: 3.2.0
info:
  title: iTwin Schedules Tasks API
  description: Plan and manage 4D construction schedules — tasks, resources, calendars, baselines, animations, and work breakdown.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/schedules/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/schedules
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Tasks
  description: Tasks resources for the iTwin Schedules API.
paths:
  /{scheduleId}/tasks:
    parameters:
    - name: scheduleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tasks
      summary: Get Tasks
      operationId: GetTasks
      responses:
        '200':
          description: List of Tasks
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Tasks
      summary: Create Task
      operationId: CreateTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema:
                type: object
  /{scheduleId}/tasks/{taskId}:
    parameters:
    - name: scheduleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: taskId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tasks
      summary: Get Tasks
      operationId: GetTasks
      responses:
        '200':
          description: List of Tasks
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Tasks
      summary: Update Task
      operationId: UpdateTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Task updated
    delete:
      tags:
      - Tasks
      summary: Delete Task
      operationId: DeleteTask
      responses:
        '204':
          description: Task deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Schedules API Documentation
  url: https://developer.bentley.com/apis/schedules/
