openapi: 3.2.0
info:
  title: iTwins Repositories API
  description: Create, manage, and query iTwin containers — the top-level organizational unit for iModels, reality data, and project context.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/itwins/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/itwins
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Repositories
  description: Repositories resources for the iTwins API.
paths:
  /itwins/{iTwinId}/repositories:
    parameters:
    - name: iTwinId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Repositories
      summary: Get Repositories
      operationId: GetRepositories
      responses:
        '200':
          description: List of Repositories
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Repositories
      summary: Create Repositorie
      operationId: CreateRepositorie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Repositorie created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwins API Documentation
  url: https://developer.bentley.com/apis/itwins/
