openapi: 3.1.0
info:
  title: iTwin Control Access Resources API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Resources
  description: Resources resources for the iTwin Schedules API.
paths:
  /{scheduleId}/resources:
    parameters:
    - name: scheduleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Resources
      summary: Get Resources
      operationId: GetResources
      responses:
        '200':
          description: List of Resources
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Resources
      summary: Create Resource
      operationId: CreateResource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                type: object
  /{scheduleId}/resources/{resourceId}:
    parameters:
    - name: scheduleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Resources
      summary: Get Resources
      operationId: GetResources
      responses:
        '200':
          description: List of Resources
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Resources
      summary: Update Resource
      operationId: UpdateResource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Resource updated
    delete:
      tags:
      - Resources
      summary: Delete Resource
      operationId: DeleteResource
      responses:
        '204':
          description: Resource deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
