openapi: 3.2.0
info:
  title: iTwin Saved Views API
  description: Persist and share saved iModel viewer states — camera positions, display styles, category visibility.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/saved-views/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/savedviews
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Saved Views
  description: Saved Views resources for the iTwin Saved Views API.
paths:
  /:
    get:
      tags:
      - Saved Views
      summary: Get Saved Views
      operationId: GetSavedViews
      responses:
        '200':
          description: List of Saved Views
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Saved Views
      summary: Create Saved View
      operationId: CreateSavedView
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Saved View created
          content:
            application/json:
              schema:
                type: object
  /{savedViewId}:
    parameters:
    - name: savedViewId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Saved Views
      summary: Get Saved Views
      operationId: GetSavedViews
      responses:
        '200':
          description: List of Saved Views
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Saved Views
      summary: Update Saved View
      operationId: UpdateSavedView
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Saved View updated
    delete:
      tags:
      - Saved Views
      summary: Delete Saved View
      operationId: DeleteSavedView
      responses:
        '204':
          description: Saved View deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Saved Views API Documentation
  url: https://developer.bentley.com/apis/saved-views/
