openapi: 3.2.0
info:
  title: Bentley Systems Reports API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Reports across 2 of this provider''s published API definitions: itwin-carbon-calculation-openapi.yml, itwin-insights-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/carboncalculation
  description: iTwin Platform Production
- url: https://api.bentley.com/insights
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Reports
  description: Reports resources for the iTwin Carbon Calculation API.
paths:
  /ec3/reports:
    get:
      tags:
      - Reports
      summary: Get Reports
      operationId: GetReports
      responses:
        '200':
          description: List of Reports
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Reports
      summary: Create Report
      operationId: CreateReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Report created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/carboncalculation
      description: iTwin Platform Production
  /reporting/reports:
    get:
      tags:
      - Reports
      summary: Get Reports
      operationId: GetReports
      responses:
        '200':
          description: List of Reports
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Reports
      summary: Create Report
      operationId: CreateReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Report created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/insights
      description: iTwin Platform Production
  /reporting/reports/{reportId}:
    parameters:
    - name: reportId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Reports
      summary: Get Reports
      operationId: GetReports
      responses:
        '200':
          description: List of Reports
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Reports
      summary: Update Report
      operationId: UpdateReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Report updated
    delete:
      tags:
      - Reports
      summary: Delete Report
      operationId: DeleteReport
      responses:
        '204':
          description: Report deleted
    servers:
    - url: https://api.bentley.com/insights
      description: iTwin Platform Production
  /reporting/reports/{reportId}/datasources:
    parameters:
    - name: reportId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Reports
      summary: Get Reports
      operationId: GetReports
      responses:
        '200':
          description: List of Reports
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Reports
      summary: Create Report
      operationId: CreateReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Report created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/insights
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-carbon-calculation-openapi.yml
- itwin-insights-openapi.yml
