openapi: 3.1.0
info:
  title: iTwin Control Access Parameters API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Parameters
  description: Parameters resources for the iTwin Library API.
paths:
  /catalogs/{catalogId}/components/{componentId}/parameters:
    parameters:
    - name: catalogId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: componentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Parameters
      summary: Get Parameters
      operationId: GetParameters
      responses:
        '200':
          description: List of Parameters
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Parameters
      summary: Create Parameter
      operationId: CreateParameter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Parameter created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
