openapi: 3.2.0
info:
  title: Enterprise Data Federation Service (EDFS) Sources API
  description: Federate access to data held in Bentley and third-party repositories — ProjectWise, SharePoint, external systems.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/edfs/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/edfs
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Sources
  description: Sources resources for the Enterprise Data Federation Service (EDFS) API.
paths:
  /sources:
    get:
      tags:
      - Sources
      summary: Get Sources
      operationId: GetSources
      responses:
        '200':
          description: List of Sources
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Sources
      summary: Create Source
      operationId: CreateSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Source created
          content:
            application/json:
              schema:
                type: object
  /sources/{sourceId}:
    parameters:
    - name: sourceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Sources
      summary: Get Sources
      operationId: GetSources
      responses:
        '200':
          description: List of Sources
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Sources
      summary: Update Source
      operationId: UpdateSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Source updated
    delete:
      tags:
      - Sources
      summary: Delete Source
      operationId: DeleteSource
      responses:
        '204':
          description: Source deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: Enterprise Data Federation Service (EDFS) API Documentation
  url: https://developer.bentley.com/apis/edfs/
