openapi: 3.2.0
info:
  title: Bentley Systems Tags API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Tags across 2 of this provider''s published API definitions: itwin-library-openapi.yml, itwin-saved-views-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/library
  description: iTwin Platform Production
- url: https://api.bentley.com/savedviews
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Tags
  description: Tags resources for the iTwin Library API.
paths:
  /catalogs/{catalogId}/tags:
    parameters:
    - name: catalogId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tags
      summary: Get Tags
      operationId: GetTags
      responses:
        '200':
          description: List of Tags
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Tags
      summary: Create Tag
      operationId: CreateTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/library
      description: iTwin Platform Production
  /{savedViewId}/tags:
    parameters:
    - name: savedViewId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tags
      summary: Get Tags
      operationId: GetTags
      responses:
        '200':
          description: List of Tags
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Tags
      summary: Create Tag
      operationId: CreateTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/savedviews
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-library-openapi.yml
- itwin-saved-views-openapi.yml
