openapi: 3.2.0
info:
  title: Enterprise Data Federation Service (EDFS) Policies API
  description: Federate access to data held in Bentley and third-party repositories — ProjectWise, SharePoint, external systems.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/edfs/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/edfs
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Policies
  description: Policies resources for the Enterprise Data Federation Service (EDFS) API.
paths:
  /policies:
    get:
      tags:
      - Policies
      summary: Get Policies
      operationId: GetPolicies
      responses:
        '200':
          description: List of Policies
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Policies
      summary: Create Policie
      operationId: CreatePolicie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Policie created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: Enterprise Data Federation Service (EDFS) API Documentation
  url: https://developer.bentley.com/apis/edfs/
