openapi: 3.1.0
info:
  title: iTwin Control Access Users API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Users
  description: Manage user access and statistics for iModels.
paths:
  /{iModelId}/users:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Users
      summary: Get IModel Users
      operationId: GetIModelUsers
      responses:
        '200':
          description: List of users
  /{iModelId}/users/{userId}:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Users
      summary: Get IModel User
      operationId: GetIModelUser
      responses:
        '200':
          description: User details
  /users:
    get:
      tags:
      - Users
      summary: Get Users
      operationId: GetUsers
      responses:
        '200':
          description: List of Users
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Users
      summary: Create User
      operationId: CreateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
  /users/{userId}:
    parameters:
    - name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Users
      summary: Get Users
      operationId: GetUsers
      responses:
        '200':
          description: List of Users
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Users
      summary: Update User
      operationId: UpdateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: User updated
    delete:
      tags:
      - Users
      summary: Delete User
      operationId: DeleteUser
      responses:
        '204':
          description: User deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
