openapi: 3.2.0
info:
  title: iTwin Carbon Calculation Configurations API
  description: Compute embodied carbon footprint using EC3 integrations and iModel quantity takeoffs.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/carbon-calculation/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/carboncalculation
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Configurations
  description: Configurations resources for the iTwin Carbon Calculation API.
paths:
  /ec3/configurations:
    get:
      tags:
      - Configurations
      summary: Get Configurations
      operationId: GetConfigurations
      responses:
        '200':
          description: List of Configurations
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Configurations
      summary: Create Configuration
      operationId: CreateConfiguration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Configuration created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Carbon Calculation API Documentation
  url: https://developer.bentley.com/apis/carbon-calculation/
