openapi: 3.2.0
info:
  title: Bentley Systems Jobs API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Jobs across 5 of this provider''s published API definitions: itwin-access-control-openapi.yml, itwin-carbon-calculation-openapi.yml, itwin-pnid-openapi.yml, itwin-reality-analysis-openapi.yml, itwin-reality-modeling-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
- url: https://api.bentley.com/carboncalculation
  description: iTwin Platform Production
- url: https://api.bentley.com/pnid
  description: iTwin Platform Production
- url: https://api.bentley.com/realitydataanalysis
  description: iTwin Platform Production
- url: https://api.bentley.com/contextcapture
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Jobs
  description: Jobs resources for the iTwin Access Control API.
paths:
  /itwins/{iTwinId}/jobs:
    parameters:
    - name: iTwinId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Jobs
      summary: Get Jobs
      operationId: GetJobs
      responses:
        '200':
          description: List of Jobs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Jobs
      summary: Create Job
      operationId: CreateJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/accesscontrol
      description: iTwin Platform Production
  /ec3/jobs:
    get:
      tags:
      - Jobs
      summary: Get Jobs
      operationId: GetJobs
      responses:
        '200':
          description: List of Jobs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Jobs
      summary: Create Job
      operationId: CreateJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/carboncalculation
      description: iTwin Platform Production
  /jobs:
    get:
      tags:
      - Jobs
      summary: Get Jobs
      operationId: GetJobs
      responses:
        '200':
          description: List of Jobs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Jobs
      summary: Create Job
      operationId: CreateJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/pnid
      description: iTwin Platform Production
  /jobs/{jobId}:
    parameters:
    - name: jobId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Jobs
      summary: Get Jobs
      operationId: GetJobs
      responses:
        '200':
          description: List of Jobs
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Jobs
      summary: Update Job
      operationId: UpdateJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Job updated
    delete:
      tags:
      - Jobs
      summary: Delete Job
      operationId: DeleteJob
      responses:
        '204':
          description: Job deleted
    servers:
    - url: https://api.bentley.com/pnid
      description: iTwin Platform Production
  /jobs/{jobId}/progress:
    parameters:
    - name: jobId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Jobs
      summary: Get Jobs
      operationId: GetJobs
      responses:
        '200':
          description: List of Jobs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Jobs
      summary: Create Job
      operationId: CreateJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/realitydataanalysis
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-access-control-openapi.yml
- itwin-carbon-calculation-openapi.yml
- itwin-pnid-openapi.yml
- itwin-reality-analysis-openapi.yml
- itwin-reality-modeling-openapi.yml
