openapi: 3.1.0
info:
  title: iTwin Control Access Templates API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Templates
  description: Templates resources for the iTwin Carbon Calculation API.
paths:
  /ec3/templates:
    get:
      tags:
      - Templates
      summary: Get Templates
      operationId: GetTemplates
      responses:
        '200':
          description: List of Templates
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Templates
      summary: Create Template
      operationId: CreateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                type: object
  /formDefinitions:
    get:
      tags:
      - Templates
      summary: Get Templates
      operationId: GetTemplates
      responses:
        '200':
          description: List of Templates
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Templates
      summary: Create Template
      operationId: CreateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                type: object
  /formDefinitions/{definitionId}:
    parameters:
    - name: definitionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Templates
      summary: Get Templates
      operationId: GetTemplates
      responses:
        '200':
          description: List of Templates
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Templates
      summary: Update Template
      operationId: UpdateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Template updated
    delete:
      tags:
      - Templates
      summary: Delete Template
      operationId: DeleteTemplate
      responses:
        '204':
          description: Template deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
