openapi: 3.1.0
info:
  title: iTwin Control Access API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Access
  description: Access resources for the iTwin Reality Management API.
paths:
  /reality-data/{realityDataId}/readaccess:
    parameters:
    - name: realityDataId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Access
      summary: Get Access
      operationId: GetAccess
      responses:
        '200':
          description: List of Access
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Access
      summary: Create Acce
      operationId: CreateAcce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Acce created
          content:
            application/json:
              schema:
                type: object
  /reality-data/{realityDataId}/writeaccess:
    parameters:
    - name: realityDataId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Access
      summary: Get Access
      operationId: GetAccess
      responses:
        '200':
          description: List of Access
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Access
      summary: Create Acce
      operationId: CreateAcce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Acce created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
