openapi: 3.2.0
info:
  title: iTwin Library Categories API
  description: Manage reusable component libraries — catalogs, components, parameters, and component instances.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/library/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/library
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Categories
  description: Categories resources for the iTwin Library API.
paths:
  /catalogs/{catalogId}/categories:
    parameters:
    - name: catalogId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Categories
      summary: Get Categories
      operationId: GetCategories
      responses:
        '200':
          description: List of Categories
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Categories
      summary: Create Categorie
      operationId: CreateCategorie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Categorie created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Library API Documentation
  url: https://developer.bentley.com/apis/library/
