openapi: 3.2.0
info:
  title: Bentley Systems Runs API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Runs across 3 of this provider''s published API definitions: itwin-clash-detection-openapi.yml, itwin-synchronization-openapi.yml, itwin-transformations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/clashdetection
  description: iTwin Platform Production
- url: https://api.bentley.com/synchronization
  description: iTwin Platform Production
- url: https://api.bentley.com/transformations
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Runs
  description: Runs resources for the iTwin Clash Detection API.
paths:
  /runs:
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Runs
      summary: Create Run
      operationId: CreateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/clashdetection
      description: iTwin Platform Production
  /runs/{runId}:
    parameters:
    - name: runId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Runs
      summary: Update Run
      operationId: UpdateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Run updated
    delete:
      tags:
      - Runs
      summary: Delete Run
      operationId: DeleteRun
      responses:
        '204':
          description: Run deleted
    servers:
    - url: https://api.bentley.com/clashdetection
      description: iTwin Platform Production
  /imodels/{iModelId}/storageConnections/{connectionId}/run:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
    - name: connectionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Runs
      summary: Create Run
      operationId: CreateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/synchronization
      description: iTwin Platform Production
  /{transformationId}/run:
    parameters:
    - name: transformationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Runs
      summary: Create Run
      operationId: CreateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/transformations
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-clash-detection-openapi.yml
- itwin-synchronization-openapi.yml
- itwin-transformations-openapi.yml
