openapi: 3.2.0
info:
  title: Bentley Systems Attachments API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Attachments across 2 of this provider''s published API definitions: itwin-forms-openapi.yml, itwin-issues-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/forms
  description: iTwin Platform Production
- url: https://api.bentley.com/issues
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Attachments
  description: Attachments resources for the iTwin Forms API.
paths:
  /forms/{formId}/attachments:
    parameters:
    - name: formId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Attachments
      summary: Get Attachments
      operationId: GetAttachments
      responses:
        '200':
          description: List of Attachments
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Attachments
      summary: Create Attachment
      operationId: CreateAttachment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Attachment created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/forms
      description: iTwin Platform Production
  /{issueId}/attachments:
    parameters:
    - name: issueId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Attachments
      summary: Get Attachments
      operationId: GetAttachments
      responses:
        '200':
          description: List of Attachments
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Attachments
      summary: Create Attachment
      operationId: CreateAttachment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Attachment created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/issues
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-forms-openapi.yml
- itwin-issues-openapi.yml
