openapi: 3.2.0
info:
  title: iTwin P&ID to iTwin Symbols API
  description: Convert Process & Instrumentation Diagrams (P&IDs) into iTwin-compatible intelligent data using AI extraction.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/pnid/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/pnid
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Symbols
  description: Symbols resources for the iTwin P&ID to iTwin API.
paths:
  /symbols:
    get:
      tags:
      - Symbols
      summary: Get Symbols
      operationId: GetSymbols
      responses:
        '200':
          description: List of Symbols
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Symbols
      summary: Create Symbol
      operationId: CreateSymbol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Symbol created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin P&ID to iTwin API Documentation
  url: https://developer.bentley.com/apis/pnid/
