openapi: 3.2.0
info:
  title: iTwin Webhooks Events API
  description: Subscribe to iTwin Platform events. Create, list, update, and delete webhook subscriptions.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/webhooks/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/webhooks
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Events
  description: Events resources for the iTwin Webhooks API.
paths:
  /event-types:
    get:
      tags:
      - Events
      summary: Get Events
      operationId: GetEvents
      responses:
        '200':
          description: List of Events
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Events
      summary: Create Event
      operationId: CreateEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Webhooks API Documentation
  url: https://developer.bentley.com/apis/webhooks/
