openapi: 3.2.0
info:
  title: Bentley Systems Users API
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: itwin-imodels-openapi.yml, itwin-users-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/imodels
  description: iTwin Platform Production
- url: https://api.bentley.com/users
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Users
  description: Manage user access and statistics for iModels.
paths:
  /{iModelId}/users:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Users
      summary: Get IModel Users
      operationId: GetIModelUsers
      responses:
        '200':
          description: List of users
    servers:
    - url: https://api.bentley.com/imodels
      description: iTwin Platform Production
  /{iModelId}/users/{userId}:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Users
      summary: Get IModel User
      operationId: GetIModelUser
      responses:
        '200':
          description: User details
    servers:
    - url: https://api.bentley.com/imodels
      description: iTwin Platform Production
  /users:
    get:
      tags:
      - Users
      summary: Get Users
      operationId: GetUsers
      responses:
        '200':
          description: List of Users
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Users
      summary: Create User
      operationId: CreateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/users
      description: iTwin Platform Production
  /users/{userId}:
    parameters:
    - name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Users
      summary: Get Users
      operationId: GetUsers
      responses:
        '200':
          description: List of Users
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Users
      summary: Update User
      operationId: UpdateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: User updated
    delete:
      tags:
      - Users
      summary: Delete User
      operationId: DeleteUser
      responses:
        '204':
          description: User deleted
    servers:
    - url: https://api.bentley.com/users
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-imodels-openapi.yml
- itwin-users-openapi.yml
