openapi: 3.1.0
info:
  title: iTwin Control Access Mappings API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Mappings
  description: Mappings resources for the iTwin Grouping and Mapping API.
paths:
  /mappings:
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Mappings
      summary: Create Mapping
      operationId: CreateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mapping created
          content:
            application/json:
              schema:
                type: object
  /mappings/{mappingId}:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Mappings
      summary: Update Mapping
      operationId: UpdateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Mapping updated
    delete:
      tags:
      - Mappings
      summary: Delete Mapping
      operationId: DeleteMapping
      responses:
        '204':
          description: Mapping deleted
  /reporting/mappings:
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Mappings
      summary: Create Mapping
      operationId: CreateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mapping created
          content:
            application/json:
              schema:
                type: object
  /reporting/mappings/{mappingId}:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Mappings
      summary: Update Mapping
      operationId: UpdateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Mapping updated
    delete:
      tags:
      - Mappings
      summary: Delete Mapping
      operationId: DeleteMapping
      responses:
        '204':
          description: Mapping deleted
  /reporting/mappings/{mappingId}/groups:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Mappings
      summary: Create Mapping
      operationId: CreateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mapping created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
