openapi: 3.2.0
info:
  title: iTwin iModels Changesets API
  description: Create, clone, fork, and manage iModels — Bentley's specialized information containers for the lifecycle of infrastructure assets. Operations cover iModel CRUD, changesets, named versions, briefcases, locks, users, baselines, and thumbnails.
  version: '2.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/imodels-v2/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/imodels
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Changesets
  description: Manage changesets that record modifications to an iModel.
paths:
  /{iModelId}/changesets:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Changesets
      summary: Get Changesets
      operationId: GetChangesets
      responses:
        '200':
          description: List of changesets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangesetList'
    post:
      tags:
      - Changesets
      summary: Create Changeset
      operationId: CreateChangeset
      responses:
        '201':
          description: Changeset created
  /{iModelId}/changesets/{changesetId}:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: changesetId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Changesets
      summary: Get Changeset
      operationId: GetChangeset
      responses:
        '200':
          description: Changeset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changeset'
components:
  schemas:
    ChangesetList:
      type: object
      properties:
        changesets:
          type: array
          items:
            $ref: '#/components/schemas/Changeset'
    Changeset:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        description:
          type: string
        index:
          type: integer
        parentId:
          type: string
        creatorId:
          type: string
          format: uuid
        pushDateTime:
          type: string
          format: date-time
        state:
          type: string
        containingChanges:
          type: integer
        fileSize:
          type: integer
          format: int64
        briefcaseId:
          type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin iModels API Documentation
  url: https://developer.bentley.com/apis/imodels-v2/
