openapi: 3.2.0
info:
  title: Bentley Systems Templates API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Templates across 2 of this provider''s published API definitions: itwin-carbon-calculation-openapi.yml, itwin-forms-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/carboncalculation
  description: iTwin Platform Production
- url: https://api.bentley.com/forms
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Templates
  description: Templates resources for the iTwin Carbon Calculation API.
paths:
  /ec3/templates:
    get:
      tags:
      - Templates
      summary: Get Templates
      operationId: GetTemplates
      responses:
        '200':
          description: List of Templates
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Templates
      summary: Create Template
      operationId: CreateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/carboncalculation
      description: iTwin Platform Production
  /formDefinitions:
    get:
      tags:
      - Templates
      summary: Get Templates
      operationId: GetTemplates
      responses:
        '200':
          description: List of Templates
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Templates
      summary: Create Template
      operationId: CreateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/forms
      description: iTwin Platform Production
  /formDefinitions/{definitionId}:
    parameters:
    - name: definitionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Templates
      summary: Get Templates
      operationId: GetTemplates
      responses:
        '200':
          description: List of Templates
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Templates
      summary: Update Template
      operationId: UpdateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Template updated
    delete:
      tags:
      - Templates
      summary: Delete Template
      operationId: DeleteTemplate
      responses:
        '204':
          description: Template deleted
    servers:
    - url: https://api.bentley.com/forms
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-carbon-calculation-openapi.yml
- itwin-forms-openapi.yml
