openapi: 3.1.0
info:
  title: iTwin Control Access Scenes API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Scenes
  description: Scenes resources for the iTwin Scenes API.
paths:
  /:
    get:
      tags:
      - Scenes
      summary: Get Scenes
      operationId: GetScenes
      responses:
        '200':
          description: List of Scenes
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Scenes
      summary: Create Scene
      operationId: CreateScene
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Scene created
          content:
            application/json:
              schema:
                type: object
  /{sceneId}:
    parameters:
    - name: sceneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Scenes
      summary: Get Scenes
      operationId: GetScenes
      responses:
        '200':
          description: List of Scenes
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Scenes
      summary: Update Scene
      operationId: UpdateScene
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Scene updated
    delete:
      tags:
      - Scenes
      summary: Delete Scene
      operationId: DeleteScene
      responses:
        '204':
          description: Scene deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
