openapi: 3.2.0
info:
  title: iTwin Changed Elements Comparisons API
  description: Track and query design changes between iModel versions for visual diff workflows.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/changed-elements/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/changedelements
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Comparisons
  description: Comparisons resources for the iTwin Changed Elements API.
paths:
  /comparison:
    get:
      tags:
      - Comparisons
      summary: Get Comparisons
      operationId: GetComparisons
      responses:
        '200':
          description: List of Comparisons
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Comparisons
      summary: Create Comparison
      operationId: CreateComparison
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Comparison created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Changed Elements API Documentation
  url: https://developer.bentley.com/apis/changed-elements/
