openapi: 3.2.0
info:
  title: iTwin Sensor Data Devices API
  description: Ingest, store, and query IoT sensor telemetry associated with iTwin assets.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/sensor-data/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/sensor-data
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Devices
  description: Devices resources for the iTwin Sensor Data API.
paths:
  /devices:
    get:
      tags:
      - Devices
      summary: Get Devices
      operationId: GetDevices
      responses:
        '200':
          description: List of Devices
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Devices
      summary: Create Device
      operationId: CreateDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Device created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Sensor Data API Documentation
  url: https://developer.bentley.com/apis/sensor-data/
