openapi: 3.2.0
info:
  title: iTwin Schedules Work Breakdown API
  description: Plan and manage 4D construction schedules — tasks, resources, calendars, baselines, animations, and work breakdown.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/schedules/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/schedules
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Work Breakdown
  description: Work Breakdown resources for the iTwin Schedules API.
paths:
  /{scheduleId}/wbs:
    parameters:
    - name: scheduleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Work Breakdown
      summary: Get Work Breakdown
      operationId: GetWorkBreakdown
      responses:
        '200':
          description: List of Work Breakdown
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Work Breakdown
      summary: Create Work Breakdown
      operationId: CreateWorkBreakdown
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Work Breakdown created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Schedules API Documentation
  url: https://developer.bentley.com/apis/schedules/
