openapi: 3.2.0
info:
  title: iTwin Scenes Extensions API
  description: Configure 3D scenes that compose iModels, reality data, OpenStreetMap, and terrain into a viewer experience.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/scenes/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/scenes
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Extensions
  description: Extensions resources for the iTwin Scenes API.
paths:
  /{sceneId}/extensions:
    parameters:
    - name: sceneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Extensions
      summary: Get Extensions
      operationId: GetExtensions
      responses:
        '200':
          description: List of Extensions
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Extensions
      summary: Create Extension
      operationId: CreateExtension
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Extension created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Scenes API Documentation
  url: https://developer.bentley.com/apis/scenes/
