openapi: 3.1.0
info:
  title: iTwin Control Access Tests API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Tests
  description: Tests resources for the iTwin Clash Detection API.
paths:
  /tests:
    get:
      tags:
      - Tests
      summary: Get Tests
      operationId: GetTests
      responses:
        '200':
          description: List of Tests
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Tests
      summary: Create Test
      operationId: CreateTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Test created
          content:
            application/json:
              schema:
                type: object
  /tests/{testId}:
    parameters:
    - name: testId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tests
      summary: Get Tests
      operationId: GetTests
      responses:
        '200':
          description: List of Tests
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Tests
      summary: Update Test
      operationId: UpdateTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Test updated
    delete:
      tags:
      - Tests
      summary: Delete Test
      operationId: DeleteTest
      responses:
        '204':
          description: Test deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
