openapi: 3.2.0
info:
  title: Bentley Systems Groups API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Groups across 3 of this provider''s published API definitions: itwin-access-control-openapi.yml, itwin-grouping-mapping-openapi.yml, itwin-saved-views-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
- url: https://api.bentley.com/grouping-and-mapping
  description: iTwin Platform Production
- url: https://api.bentley.com/savedviews
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Groups
  description: Groups resources for the iTwin Access Control API.
paths:
  /itwins/{iTwinId}/members/groups:
    parameters:
    - name: iTwinId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Groups
      summary: Get Groups
      operationId: GetGroups
      responses:
        '200':
          description: List of Groups
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Groups
      summary: Create Group
      operationId: CreateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/accesscontrol
      description: iTwin Platform Production
  /mappings/{mappingId}/groups:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Groups
      summary: Get Groups
      operationId: GetGroups
      responses:
        '200':
          description: List of Groups
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Groups
      summary: Create Group
      operationId: CreateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/grouping-and-mapping
      description: iTwin Platform Production
  /groups:
    get:
      tags:
      - Groups
      summary: Get Groups
      operationId: GetGroups
      responses:
        '200':
          description: List of Groups
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Groups
      summary: Create Group
      operationId: CreateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/savedviews
      description: iTwin Platform Production
  /groups/{groupId}:
    parameters:
    - name: groupId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Groups
      summary: Get Groups
      operationId: GetGroups
      responses:
        '200':
          description: List of Groups
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Groups
      summary: Update Group
      operationId: UpdateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Group updated
    delete:
      tags:
      - Groups
      summary: Delete Group
      operationId: DeleteGroup
      responses:
        '204':
          description: Group deleted
    servers:
    - url: https://api.bentley.com/savedviews
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-access-control-openapi.yml
- itwin-grouping-mapping-openapi.yml
- itwin-saved-views-openapi.yml
