openapi: 3.2.0
info:
  title: iTwin Library Components API
  description: Manage reusable component libraries — catalogs, components, parameters, and component instances.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/library/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/library
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Components
  description: Components resources for the iTwin Library API.
paths:
  /catalogs/{catalogId}/components:
    parameters:
    - name: catalogId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Components
      summary: Get Components
      operationId: GetComponents
      responses:
        '200':
          description: List of Components
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Components
      summary: Create Component
      operationId: CreateComponent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Component created
          content:
            application/json:
              schema:
                type: object
  /catalogs/{catalogId}/components/{componentId}:
    parameters:
    - name: catalogId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: componentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Components
      summary: Get Components
      operationId: GetComponents
      responses:
        '200':
          description: List of Components
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Components
      summary: Update Component
      operationId: UpdateComponent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Component updated
    delete:
      tags:
      - Components
      summary: Delete Component
      operationId: DeleteComponent
      responses:
        '204':
          description: Component deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Library API Documentation
  url: https://developer.bentley.com/apis/library/
