openapi: 3.1.0
info:
  title: iTwin Control Access Locks API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Locks
  description: Acquire and release element-level locks during authoring.
paths:
  /{iModelId}/locks:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Locks
      summary: Get Locks
      operationId: GetLocks
      responses:
        '200':
          description: List of locks
    patch:
      tags:
      - Locks
      summary: Update Locks
      operationId: UpdateLocks
      responses:
        '200':
          description: Locks updated
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
