openapi: 3.1.0
info:
  title: iTwin Control Access Webhooks API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Webhooks
  description: Webhooks resources for the iTwin Webhooks API.
paths:
  /:
    get:
      tags:
      - Webhooks
      summary: Get Webhooks
      operationId: GetWebhooks
      responses:
        '200':
          description: List of Webhooks
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      operationId: CreateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
  /{subscriptionId}:
    parameters:
    - name: subscriptionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Webhooks
      summary: Get Webhooks
      operationId: GetWebhooks
      responses:
        '200':
          description: List of Webhooks
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Webhooks
      summary: Update Webhook
      operationId: UpdateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook updated
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook
      operationId: DeleteWebhook
      responses:
        '204':
          description: Webhook deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
