openapi: 3.2.0
info:
  title: Bentley Systems Baselines API
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  version: '1.0'
  description: 'Operations tagged Baselines across 2 of this provider''s published API definitions: itwin-imodels-openapi.yml, itwin-schedules-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/imodels
  description: iTwin Platform Production
- url: https://api.bentley.com/schedules
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Baselines
  description: Manage iModel baseline files.
paths:
  /{iModelId}/baselinefile:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Baselines
      summary: Get Baseline File
      operationId: GetBaselineFile
      responses:
        '200':
          description: Baseline file metadata and download URL
    servers:
    - url: https://api.bentley.com/imodels
      description: iTwin Platform Production
  /{scheduleId}/baselines:
    parameters:
    - name: scheduleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Baselines
      summary: Get Baselines
      operationId: GetBaselines
      responses:
        '200':
          description: List of Baselines
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Baselines
      summary: Create Baseline
      operationId: CreateBaseline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Baseline created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/schedules
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-imodels-openapi.yml
- itwin-schedules-openapi.yml
