openapi: 3.1.0
info:
  title: iTwin Control Access Instances API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Instances
  description: Instances resources for the iTwin Forms API.
paths:
  /forms:
    get:
      tags:
      - Instances
      summary: Get Instances
      operationId: GetInstances
      responses:
        '200':
          description: List of Instances
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Instances
      summary: Create Instance
      operationId: CreateInstance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Instance created
          content:
            application/json:
              schema:
                type: object
  /forms/{formId}:
    parameters:
    - name: formId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Instances
      summary: Get Instances
      operationId: GetInstances
      responses:
        '200':
          description: List of Instances
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Instances
      summary: Update Instance
      operationId: UpdateInstance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Instance updated
    delete:
      tags:
      - Instances
      summary: Delete Instance
      operationId: DeleteInstance
      responses:
        '204':
          description: Instance deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
