openapi: 3.1.0
info:
  title: iTwin Control Access Properties API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Properties
  description: Properties resources for the iTwin Grouping and Mapping API.
paths:
  /mappings/{mappingId}/groups/{groupId}/properties:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: groupId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Properties
      summary: Get Properties
      operationId: GetProperties
      responses:
        '200':
          description: List of Properties
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Properties
      summary: Create Propertie
      operationId: CreatePropertie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Propertie created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
