openapi: 3.2.0
info:
  title: iTwin Insights ODATA API
  description: Build custom reports and dashboards on iModel data — mappings, groups, properties, and OData endpoints.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/insights/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/insights
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: OData
  description: ODATA resources for the iTwin Insights API.
paths:
  /reporting/odata/{reportId}:
    parameters:
    - name: reportId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - OData
      summary: Get ODATA
      operationId: GetODATA
      responses:
        '200':
          description: List of ODATA
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - OData
      summary: Update ODATA
      operationId: UpdateODATA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: ODATA updated
    delete:
      tags:
      - OData
      summary: Delete ODATA
      operationId: DeleteODATA
      responses:
        '204':
          description: ODATA deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Insights API Documentation
  url: https://developer.bentley.com/apis/insights/
