openapi: 3.2.0
info:
  title: iTwin iModels Named Versions API
  description: Create, clone, fork, and manage iModels — Bentley's specialized information containers for the lifecycle of infrastructure assets. Operations cover iModel CRUD, changesets, named versions, briefcases, locks, users, baselines, and thumbnails.
  version: '2.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/imodels-v2/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/imodels
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Named Versions
  description: Create and query named versions that pin a point in an iModel's history.
paths:
  /{iModelId}/namedversions:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Named Versions
      summary: Get Named Versions
      operationId: GetNamedVersions
      responses:
        '200':
          description: List of named versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamedVersionList'
    post:
      tags:
      - Named Versions
      summary: Create Named Version
      operationId: CreateNamedVersion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNamedVersion'
      responses:
        '201':
          description: Named version created
  /{iModelId}/namedversions/{namedVersionId}:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    - name: namedVersionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Named Versions
      summary: Get Named Version
      operationId: GetNamedVersion
      responses:
        '200':
          description: Named version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamedVersion'
components:
  schemas:
    CreateNamedVersion:
      type: object
      required:
      - name
      - changesetId
      properties:
        name:
          type: string
        description:
          type: string
        changesetId:
          type: string
    NamedVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        displayName:
          type: string
        name:
          type: string
        description:
          type: string
        changesetId:
          type: string
        changesetIndex:
          type: integer
        createdDateTime:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - visible
          - hidden
    NamedVersionList:
      type: object
      properties:
        namedVersions:
          type: array
          items:
            $ref: '#/components/schemas/NamedVersion'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin iModels API Documentation
  url: https://developer.bentley.com/apis/imodels-v2/
