openapi: 3.2.0
info:
  title: Bentley Systems Mappings API
  version: '1.0'
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
  description: 'Operations tagged Mappings across 2 of this provider''s published API definitions: itwin-grouping-mapping-openapi.yml, itwin-insights-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bentley.com/grouping-and-mapping
  description: iTwin Platform Production
- url: https://api.bentley.com/insights
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Mappings
  description: Mappings resources for the iTwin Grouping and Mapping API.
paths:
  /mappings:
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Mappings
      summary: Create Mapping
      operationId: CreateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mapping created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/grouping-and-mapping
      description: iTwin Platform Production
  /mappings/{mappingId}:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Mappings
      summary: Update Mapping
      operationId: UpdateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Mapping updated
    delete:
      tags:
      - Mappings
      summary: Delete Mapping
      operationId: DeleteMapping
      responses:
        '204':
          description: Mapping deleted
    servers:
    - url: https://api.bentley.com/grouping-and-mapping
      description: iTwin Platform Production
  /reporting/mappings:
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Mappings
      summary: Create Mapping
      operationId: CreateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mapping created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/insights
      description: iTwin Platform Production
  /reporting/mappings/{mappingId}:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Mappings
      summary: Update Mapping
      operationId: UpdateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Mapping updated
    delete:
      tags:
      - Mappings
      summary: Delete Mapping
      operationId: DeleteMapping
      responses:
        '204':
          description: Mapping deleted
    servers:
    - url: https://api.bentley.com/insights
      description: iTwin Platform Production
  /reporting/mappings/{mappingId}/groups:
    parameters:
    - name: mappingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Mappings
      summary: Get Mappings
      operationId: GetMappings
      responses:
        '200':
          description: List of Mappings
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Mappings
      summary: Create Mapping
      operationId: CreateMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mapping created
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.bentley.com/insights
      description: iTwin Platform Production
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
x-refined-from:
- itwin-grouping-mapping-openapi.yml
- itwin-insights-openapi.yml
