openapi: 3.1.0
info:
  title: iTwin Control Access Issues API
  description: Role-based access control for iTwins — permissions, roles, group membership, owner members, invitations, shares, and job-based access.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/access-control/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/accesscontrol
  description: iTwin Platform Production
security:
- OAuth2: []
tags:
- name: Issues
  description: Issues resources for the iTwin Issues API.
paths:
  /:
    get:
      tags:
      - Issues
      summary: Get Issues
      operationId: GetIssues
      responses:
        '200':
          description: List of Issues
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Issues
      summary: Create Issue
      operationId: CreateIssue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Issue created
          content:
            application/json:
              schema:
                type: object
  /{issueId}:
    parameters:
    - name: issueId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Issues
      summary: Get Issues
      operationId: GetIssues
      responses:
        '200':
          description: List of Issues
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Issues
      summary: Update Issue
      operationId: UpdateIssue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Issue updated
    delete:
      tags:
      - Issues
      summary: Delete Issue
      operationId: DeleteIssue
      responses:
        '204':
          description: Issue deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: iTwin Platform OAuth2 — Bentley IMS
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
externalDocs:
  description: iTwin Access Control API Documentation
  url: https://developer.bentley.com/apis/access-control/
