openapi: 3.1.0
info:
  title: iTwin Changed Elements API
  description: Track and query design changes between iModel versions for visual diff workflows.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/changed-elements/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/changedelements
  description: iTwin Platform Production
externalDocs:
  description: iTwin Changed Elements API Documentation
  url: https://developer.bentley.com/apis/changed-elements/
tags:
- name: Comparisons
  description: Comparisons resources for the iTwin Changed Elements API.
- name: Change Tracking
  description: Change Tracking resources for the iTwin Changed Elements API.
security:
- OAuth2: []
paths:
  /comparison:
    get:
      tags:
      - Comparisons
      summary: Get Comparisons
      operationId: GetComparisons
      responses:
        '200':
          description: List of Comparisons
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Comparisons
      summary: Create Comparison
      operationId: CreateComparison
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Comparison created
          content:
            application/json:
              schema:
                type: object
  /tracking:
    get:
      tags:
      - Change Tracking
      summary: Get Change Tracking
      operationId: GetChangeTracking
      responses:
        '200':
          description: List of Change Tracking
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Change Tracking
      summary: Create Change Tracking
      operationId: CreateChangeTracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Change Tracking created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
