openapi: 3.1.0
info:
  title: iTwin Synchronization API
  description: Synchronize native design files (DGN, DWG, IFC, RVT) from Azure Blob, iTwin Storage, or ProjectWise into iModels.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/synchronization/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/synchronization
  description: iTwin Platform Production
externalDocs:
  description: iTwin Synchronization API Documentation
  url: https://developer.bentley.com/apis/synchronization/
tags:
- name: Connections
  description: Connections resources for the iTwin Synchronization API.
- name: Source Files
  description: Source Files resources for the iTwin Synchronization API.
- name: Runs
  description: Runs resources for the iTwin Synchronization API.
- name: Connectors
  description: Connectors resources for the iTwin Synchronization API.
- name: Authorization
  description: Authorization resources for the iTwin Synchronization API.
security:
- OAuth2: []
paths:
  /imodels/{iModelId}/storageConnections:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Connections
      summary: Get Connections
      operationId: GetConnections
      responses:
        '200':
          description: List of Connections
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Connections
      summary: Create Connection
      operationId: CreateConnection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Connection created
          content:
            application/json:
              schema:
                type: object
  /imodels/{iModelId}/storageConnections/{connectionId}/sourcefiles:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
    - name: connectionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Source Files
      summary: Get Source Files
      operationId: GetSourceFiles
      responses:
        '200':
          description: List of Source Files
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Source Files
      summary: Create Source File
      operationId: CreateSourceFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Source File created
          content:
            application/json:
              schema:
                type: object
  /imodels/{iModelId}/storageConnections/{connectionId}/run:
    parameters:
    - name: iModelId
      in: path
      required: true
      schema:
        type: string
    - name: connectionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Runs
      summary: Get Runs
      operationId: GetRuns
      responses:
        '200':
          description: List of Runs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Runs
      summary: Create Run
      operationId: CreateRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
  /connectors:
    get:
      tags:
      - Connectors
      summary: Get Connectors
      operationId: GetConnectors
      responses:
        '200':
          description: List of Connectors
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Connectors
      summary: Create Connector
      operationId: CreateConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Connector created
          content:
            application/json:
              schema:
                type: object
  /authorization-information:
    get:
      tags:
      - Authorization
      summary: Get Authorization
      operationId: GetAuthorization
      responses:
        '200':
          description: List of Authorization
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Authorization
      summary: Create Authorization
      operationId: CreateAuthorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Authorization created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
