openapi: 3.1.0
info:
  title: iTwin Reality Modeling API
  description: Submit reality modeling jobs that process photos and laser scans into 3D meshes using ContextCapture.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/reality-modeling/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/contextcapture
  description: iTwin Platform Production
externalDocs:
  description: iTwin Reality Modeling API Documentation
  url: https://developer.bentley.com/apis/reality-modeling/
tags:
- name: Jobs
  description: Jobs resources for the iTwin Reality Modeling API.
- name: Workspaces
  description: Workspaces resources for the iTwin Reality Modeling API.
security:
- OAuth2: []
paths:
  /jobs:
    get:
      tags:
      - Jobs
      summary: Get Jobs
      operationId: GetJobs
      responses:
        '200':
          description: List of Jobs
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Jobs
      summary: Create Job
      operationId: CreateJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
  /jobs/{jobId}:
    parameters:
    - name: jobId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Jobs
      summary: Get Jobs
      operationId: GetJobs
      responses:
        '200':
          description: List of Jobs
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Jobs
      summary: Update Job
      operationId: UpdateJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Job updated
    delete:
      tags:
      - Jobs
      summary: Delete Job
      operationId: DeleteJob
      responses:
        '204':
          description: Job deleted
  /workspaces:
    get:
      tags:
      - Workspaces
      summary: Get Workspaces
      operationId: GetWorkspaces
      responses:
        '200':
          description: List of Workspaces
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Workspaces
      summary: Create Workspace
      operationId: CreateWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                type: object
  /workspaces/{workspaceId}:
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Workspaces
      summary: Get Workspaces
      operationId: GetWorkspaces
      responses:
        '200':
          description: List of Workspaces
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Workspaces
      summary: Update Workspace
      operationId: UpdateWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Workspace updated
    delete:
      tags:
      - Workspaces
      summary: Delete Workspace
      operationId: DeleteWorkspace
      responses:
        '204':
          description: Workspace deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
