openapi: 3.1.0
info:
  title: iTwin Users API
  description: Read user account profile information for users authorized to the iTwin Platform.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/users/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/users
  description: iTwin Platform Production
externalDocs:
  description: iTwin Users API Documentation
  url: https://developer.bentley.com/apis/users/
tags:
- name: Me
  description: Me resources for the iTwin Users API.
- name: Users
  description: Users resources for the iTwin Users API.
security:
- OAuth2: []
paths:
  /users/me:
    get:
      tags:
      - Me
      summary: Get Me
      operationId: GetMe
      responses:
        '200':
          description: List of Me
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Me
      summary: Create Me
      operationId: CreateMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Me created
          content:
            application/json:
              schema:
                type: object
  /users:
    get:
      tags:
      - Users
      summary: Get Users
      operationId: GetUsers
      responses:
        '200':
          description: List of Users
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Users
      summary: Create User
      operationId: CreateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
  /users/{userId}:
    parameters:
    - name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Users
      summary: Get Users
      operationId: GetUsers
      responses:
        '200':
          description: List of Users
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Users
      summary: Update User
      operationId: UpdateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: User updated
    delete:
      tags:
      - Users
      summary: Delete User
      operationId: DeleteUser
      responses:
        '204':
          description: User deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
