openapi: 3.1.0
info:
  title: iTwin Reality Management API
  description: "Organize and manage reality data \u2014 photos, point clouds, meshes, 3D Tiles, and orthophotos."
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/reality-management/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/reality-management
  description: iTwin Platform Production
externalDocs:
  description: iTwin Reality Management API Documentation
  url: https://developer.bentley.com/apis/reality-management/
tags:
- name: Reality Data
  description: Reality Data resources for the iTwin Reality Management API.
- name: Access
  description: Access resources for the iTwin Reality Management API.
security:
- OAuth2: []
paths:
  /reality-data:
    get:
      tags:
      - Reality Data
      summary: Get Reality Data
      operationId: GetRealityData
      responses:
        '200':
          description: List of Reality Data
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Reality Data
      summary: Create Reality Data
      operationId: CreateRealityData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Reality Data created
          content:
            application/json:
              schema:
                type: object
  /reality-data/{realityDataId}:
    parameters:
    - name: realityDataId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Reality Data
      summary: Get Reality Data
      operationId: GetRealityData
      responses:
        '200':
          description: List of Reality Data
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Reality Data
      summary: Update Reality Data
      operationId: UpdateRealityData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Reality Data updated
    delete:
      tags:
      - Reality Data
      summary: Delete Reality Data
      operationId: DeleteRealityData
      responses:
        '204':
          description: Reality Data deleted
  /reality-data/{realityDataId}/readaccess:
    parameters:
    - name: realityDataId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Access
      summary: Get Access
      operationId: GetAccess
      responses:
        '200':
          description: List of Access
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Access
      summary: Create Acce
      operationId: CreateAcce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Acce created
          content:
            application/json:
              schema:
                type: object
  /reality-data/{realityDataId}/writeaccess:
    parameters:
    - name: realityDataId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Access
      summary: Get Access
      operationId: GetAccess
      responses:
        '200':
          description: List of Access
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Access
      summary: Create Acce
      operationId: CreateAcce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Acce created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
