openapi: 3.1.0
info:
  title: iTwin Cesium Curated Content API
  description: "Access Cesium's curated geospatial content \u2014 World Terrain, Bing Maps imagery, OSM buildings."
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/cesium-curated-content/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/curated-content
  description: iTwin Platform Production
externalDocs:
  description: iTwin Cesium Curated Content API Documentation
  url: https://developer.bentley.com/apis/cesium-curated-content/
tags:
- name: Cesium
  description: Cesium resources for the iTwin Cesium Curated Content API.
security:
- OAuth2: []
paths:
  /cesium:
    get:
      tags:
      - Cesium
      summary: Get Cesium
      operationId: GetCesium
      responses:
        '200':
          description: List of Cesium
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Cesium
      summary: Create Cesium
      operationId: CreateCesium
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Cesium created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
