openapi: 3.1.0
info:
  title: iTwin Webhooks API
  description: Subscribe to iTwin Platform events. Create, list, update, and delete webhook subscriptions.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/webhooks/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/webhooks
  description: iTwin Platform Production
externalDocs:
  description: iTwin Webhooks API Documentation
  url: https://developer.bentley.com/apis/webhooks/
tags:
- name: Webhooks
  description: Webhooks resources for the iTwin Webhooks API.
- name: Events
  description: Events resources for the iTwin Webhooks API.
security:
- OAuth2: []
paths:
  /:
    get:
      tags:
      - Webhooks
      summary: Get Webhooks
      operationId: GetWebhooks
      responses:
        '200':
          description: List of Webhooks
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      operationId: CreateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
  /{subscriptionId}:
    parameters:
    - name: subscriptionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Webhooks
      summary: Get Webhooks
      operationId: GetWebhooks
      responses:
        '200':
          description: List of Webhooks
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Webhooks
      summary: Update Webhook
      operationId: UpdateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook updated
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook
      operationId: DeleteWebhook
      responses:
        '204':
          description: Webhook deleted
  /event-types:
    get:
      tags:
      - Events
      summary: Get Events
      operationId: GetEvents
      responses:
        '200':
          description: List of Events
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Events
      summary: Create Event
      operationId: CreateEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
