openapi: 3.1.0
info:
  title: iTwin Mesh Export API
  description: Export 3D mesh geometry from iModels for use in CesiumJS, Three.js, Unity, and Unreal Engine.
  version: '1.0'
  contact:
    name: Bentley Developer Relations
    url: https://developer.bentley.com/apis/mesh-export/
  license:
    name: Bentley Developer Portal Terms
    url: https://developer.bentley.com/legal/
servers:
- url: https://api.bentley.com/mesh-export
  description: iTwin Platform Production
externalDocs:
  description: iTwin Mesh Export API Documentation
  url: https://developer.bentley.com/apis/mesh-export/
tags:
- name: Mesh Export
  description: Mesh Export resources for the iTwin Mesh Export API.
security:
- OAuth2: []
paths:
  /:
    get:
      tags:
      - Mesh Export
      summary: Get Mesh Export
      operationId: GetMeshExport
      responses:
        '200':
          description: List of Mesh Export
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Mesh Export
      summary: Create Mesh Export
      operationId: CreateMeshExport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mesh Export created
          content:
            application/json:
              schema:
                type: object
  /{exportId}:
    parameters:
    - name: exportId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Mesh Export
      summary: Get Mesh Export
      operationId: GetMeshExport
      responses:
        '200':
          description: List of Mesh Export
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Mesh Export
      summary: Update Mesh Export
      operationId: UpdateMeshExport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Mesh Export updated
    delete:
      tags:
      - Mesh Export
      summary: Delete Mesh Export
      operationId: DeleteMeshExport
      responses:
        '204':
          description: Mesh Export deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "iTwin Platform OAuth2 \u2014 Bentley IMS"
      flows:
        authorizationCode:
          authorizationUrl: https://ims.bentley.com/connect/authorize
          tokenUrl: https://ims.bentley.com/connect/token
          scopes:
            itwin-platform: Full access to iTwin Platform APIs
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
